<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0,  user-scalable=0;" name="viewport" />
<title>test1</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script type="text/javascript">
    function Base64() {
            // private property
            _keyStr = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=";
 
            // public method for encoding
            this.encode = function (input) {
                var output = "";
                var chr1, chr2, chr3, enc1, enc2, enc3, enc4;
                var i = 0;
                input = _utf8_encode(input);
                while (i < input.length) {
                    chr1 = input.charCodeAt(i++);
                    chr2 = input.charCodeAt(i++);
                    chr3 = input.charCodeAt(i++);
                    enc1 = chr1 >> 2;
                    enc2 = ((chr1 & 3) << 4) | (chr2 >> 4);
                    enc3 = ((chr2 & 15) << 2) | (chr3 >> 6);
                    enc4 = chr3 & 63;
                    if (isNaN(chr2)) {
                        enc3 = enc4 = 64;
                    } else if (isNaN(chr3)) {
                        enc4 = 64;
                    }
                    output = output +
                        _keyStr.charAt(enc1) + _keyStr.charAt(enc2) +
                        _keyStr.charAt(enc3) + _keyStr.charAt(enc4);
                }
                return output;
            }
 
            // public method for decoding
            this.decode = function (input) {
                var output = "";
                var chr1, chr2, chr3;
                var enc1, enc2, enc3, enc4;
                var i = 0;
                input = input.replace(/[^A-Za-z0-9\+\/\=]/g, "");
                while (i < input.length) {
                    enc1 = _keyStr.indexOf(input.charAt(i++));
                    enc2 = _keyStr.indexOf(input.charAt(i++));
                    enc3 = _keyStr.indexOf(input.charAt(i++));
                    enc4 = _keyStr.indexOf(input.charAt(i++));
                    chr1 = (enc1 << 2) | (enc2 >> 4);
                    chr2 = ((enc2 & 15) << 4) | (enc3 >> 2);
                    chr3 = ((enc3 & 3) << 6) | enc4;
                    output = output + String.fromCharCode(chr1);
                    if (enc3 != 64) {
                        output = output + String.fromCharCode(chr2);
                    }
                    if (enc4 != 64) {
                        output = output + String.fromCharCode(chr3);
                    }
                }
                output = _utf8_decode(output);
                return output;
            }
 
            // private method for UTF-8 encoding
            _utf8_encode = function (string) {
                string = string.replace(/\r\n/g, "\n");
                var utftext = "";
                for (var n = 0; n < string.length; n++) {
                    var c = string.charCodeAt(n);
                    if (c < 128) {
                        utftext += String.fromCharCode(c);
                    } else if ((c > 127) && (c < 2048)) {
                        utftext += String.fromCharCode((c >> 6) | 192);
                        utftext += String.fromCharCode((c & 63) | 128);
                    } else {
                        utftext += String.fromCharCode((c >> 12) | 224);
                        utftext += String.fromCharCode(((c >> 6) & 63) | 128);
                        utftext += String.fromCharCode((c & 63) | 128);
                    }
 
                }
                return utftext;
            }
 
            // private method for UTF-8 decoding
            _utf8_decode = function (utftext) {
                var string = "";
                var i = 0;
                var c = c1 = c2 = 0;
                while (i < utftext.length) {
                    c = utftext.charCodeAt(i);
                    if (c < 128) {
                        string += String.fromCharCode(c);
                        i++;
                    } else if ((c > 191) && (c < 224)) {
                        c2 = utftext.charCodeAt(i + 1);
                        string += String.fromCharCode(((c & 31) << 6) | (c2 & 63));
                        i += 2;
                    } else {
                        c2 = utftext.charCodeAt(i + 1);
                        c3 = utftext.charCodeAt(i + 2);
                        string += String.fromCharCode(((c & 15) << 12) | ((c2 & 63) << 6) | (c3 & 63));
                        i += 3;
                    }
                }
                return string;
            }
        }
</script>
</head>
<body>
    <div id="app">
        <input type="text" name="text" v-model="input" style="height: 2em;width: 90%;">
        <ul>
            <template v-for="value in myText">
            <li v-show='!input || value.indexOf(input)>-1'>{{ value }}</li>
            </template>
        </ul>
    </div>
</body>
<script type="text/javascript">
    function Base64() {
            // private property
            _keyStr = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=";
 
            // public method for encoding
            this.encode = function (input) {
                var output = "";
                var chr1, chr2, chr3, enc1, enc2, enc3, enc4;
                var i = 0;
                input = _utf8_encode(input);
                while (i < input.length) {
                    chr1 = input.charCodeAt(i++);
                    chr2 = input.charCodeAt(i++);
                    chr3 = input.charCodeAt(i++);
                    enc1 = chr1 >> 2;
                    enc2 = ((chr1 & 3) << 4) | (chr2 >> 4);
                    enc3 = ((chr2 & 15) << 2) | (chr3 >> 6);
                    enc4 = chr3 & 63;
                    if (isNaN(chr2)) {
                        enc3 = enc4 = 64;
                    } else if (isNaN(chr3)) {
                        enc4 = 64;
                    }
                    output = output +
                        _keyStr.charAt(enc1) + _keyStr.charAt(enc2) +
                        _keyStr.charAt(enc3) + _keyStr.charAt(enc4);
                }
                return output;
            }
 
            // public method for decoding
            this.decode = function (input) {
                var output = "";
                var chr1, chr2, chr3;
                var enc1, enc2, enc3, enc4;
                var i = 0;
                input = input.replace(/[^A-Za-z0-9\+\/\=]/g, "");
                while (i < input.length) {
                    enc1 = _keyStr.indexOf(input.charAt(i++));
                    enc2 = _keyStr.indexOf(input.charAt(i++));
                    enc3 = _keyStr.indexOf(input.charAt(i++));
                    enc4 = _keyStr.indexOf(input.charAt(i++));
                    chr1 = (enc1 << 2) | (enc2 >> 4);
                    chr2 = ((enc2 & 15) << 4) | (enc3 >> 2);
                    chr3 = ((enc3 & 3) << 6) | enc4;
                    output = output + String.fromCharCode(chr1);
                    if (enc3 != 64) {
                        output = output + String.fromCharCode(chr2);
                    }
                    if (enc4 != 64) {
                        output = output + String.fromCharCode(chr3);
                    }
                }
                output = _utf8_decode(output);
                return output;
            }
 
            // private method for UTF-8 encoding
            _utf8_encode = function (string) {
                string = string.replace(/\r\n/g, "\n");
                var utftext = "";
                for (var n = 0; n < string.length; n++) {
                    var c = string.charCodeAt(n);
                    if (c < 128) {
                        utftext += String.fromCharCode(c);
                    } else if ((c > 127) && (c < 2048)) {
                        utftext += String.fromCharCode((c >> 6) | 192);
                        utftext += String.fromCharCode((c & 63) | 128);
                    } else {
                        utftext += String.fromCharCode((c >> 12) | 224);
                        utftext += String.fromCharCode(((c >> 6) & 63) | 128);
                        utftext += String.fromCharCode((c & 63) | 128);
                    }
 
                }
                return utftext;
            }
 
            // private method for UTF-8 decoding
            _utf8_decode = function (utftext) {
                var string = "";
                var i = 0;
                var c = c1 = c2 = 0;
                while (i < utftext.length) {
                    c = utftext.charCodeAt(i);
                    if (c < 128) {
                        string += String.fromCharCode(c);
                        i++;
                    } else if ((c > 191) && (c < 224)) {
                        c2 = utftext.charCodeAt(i + 1);
                        string += String.fromCharCode(((c & 31) << 6) | (c2 & 63));
                        i += 2;
                    } else {
                        c2 = utftext.charCodeAt(i + 1);
                        c3 = utftext.charCodeAt(i + 2);
                        string += String.fromCharCode(((c & 15) << 12) | ((c2 & 63) << 6) | (c3 & 63));
                        i += 3;
                    }
                }
                return string;
            }
        }
    const { createApp } = Vue
  createApp({
    data() {
      return {
        myObject: [
        "5aSn5LiI5aSr5a6B5Y+v546J56KOLOS4jeiDveeTpuWFqOOAgijljJfpvZDkuaYp",
    "5aSn55u06Iul5bGILOWkp+W3p+iLpeaLmSzlpKfovqnoi6XorrfjgIIo44CK6ICB5a2Q44CLKQ==",
    "5Li56Z2S5LiN55+l6ICB5bCG6IezLOWvjOi0teS6juaIkeWmgua1ruS6keOAgijmnZznlKsp",
    "5L2G5oS/5Lq66ZW/5LmFLOWNg+mHjOWFseidieWon+OAgijoi4/ovbwp",
    "5b2T5pat5LiN5patLOWPjeWPl+WFtuS5seOAgijmsYnkuaYp",
    "5b2T5bGA6ICF6L+3LOaXgeinguiAhea4heOAgijmlrDllJDkuaYp",
    "5b6X6YGT6ICF5aSa5YqpLOWksemBk+iAheWvoeWKqeOAgijjgIrlrZ/lrZDjgIsp",
    "55m75bGx5YiZ5oOF5ruh5LqO5bGxLOingua1t+WImeaEj+a6ouS6jua1t+OAgijliJjli7A=",
    "5Lic6L655pel5Ye66KW/6L656ZuoLOmBk+aYr+aXoOaZtOWNtOacieaZtOOAgijliJjnprnplKEp",
    "6K+75Lmm55m+6YGNLOWFtuS5ieiHqueOsOOAgijkuInlm73lv5cp",
    "6K+75Lmm56C05LiH5Y23LOS4i+eslOWmguacieelnuOAgijmnZznlKsp",
    "6K+75Lmm5LmL5rOVLOWcqOW+quW6j+iAjOa4kOi/myznhp/or7vogIznsr7mgJ3jgIIo5pyx54a5KQ==",
    "6K+75LiH5Y235LmmLOihjOS4h+mHjOi3r+OAgijliJjlvZ0p",
    "5aSa6KGM5LiN5LmJ5b+F6Ieq5q+Z44CCKOW3puS8oCk=",
    "5Lq655Sf5Zyo5Yuk77yM5LiN57Si5L2V6I6344CC4oCU4oCU5byg6KGh",
    "5Lia57K+5LqO5Yuk6ICM6I2S5LqO5ayJ77yM6KGM5oiQ5LqO5oCd6ICM5q+B5LqO6ZqP44CC4oCU4oCU6Z+p5oSI",
    "5aSp5omN5bCx5piv5peg5q2i5aKD5Yi76Ium5Yuk5aWL55qE6IO95Yqb44CC4oCU4oCU5Y2h6I6x5bCU",
    "6IGq5piO5Ye65LqO5Yuk5aWL77yM5aSp5omN5Zyo5LqO56ev57Sv44CC4oCU4oCU5Y2O572X5bqa",
    "5aW95a2m6ICM5LiN5Yuk6Zeu6Z2e55yf5aW95a2m6ICF44CC",
    "5Lmm5bGx5pyJ6Lev5Yuk5Li65b6E77yM5a2m5rW35peg5rav6Ium5L2c6Iif44CC",
    "5Yuk5Yqz5LiA5pel77yM5Y+v5b6X5LiA5aSc5a6J55yg77yb5Yuk5Yqz5LiA55Sf77yM5Y+v5b6X5bm456aP6ZW/55yg44CC4oCU4oCU6L6+wrfoiqzlpYc=",
    "5b2i5oiQ5aSp5omN55qE5Yaz5a6a5Zug57Sg5bqU6K+l5piv5Yuk5aWL44CC4oCU4oCU6YOt5rKr6Iul",
    "5Lq655qE5aSn6ISR5ZKM6IKi5L2T5LiA5qC377yM5aSa55So5YiZ54G177yM5LiN55So5YiZ5bqf44CC4oCU4oCU6IyF5Lul5Y2H",
    "5L2g5oOz5oiQ5Li65bm456aP55qE5Lq65ZCX77yf5L2G5oS/5L2g6aaW5YWI5a2m5Lya5ZCD5b6X6LW36Ium44CC4oCU4oCU5bGg5qC85raF5aSr",
    "54G15oSf5LiN6L+H5piv4oCc6aG95by655qE5Yqz5Yqo6ICM6I635b6X55qE5aWW6LWP4oCd44CC4oCU4oCU5YiX5a6+",
    "6LS15pyJ5oGS5L2V5b+F5LiJ5pu055yg5LqU5pu06LW377yM5pyA5peg55uK5Y+q5oCV5LiA5pel5pud5Y2B5pel5a+S44CC",
    "5LiN57uP5Y6G6aOO6Zuo77yM5oCO6IO96KeB5b2p6Jm544CC4oCU4oCU44CK55yf5b+D6Iux6ZuE44CL",
    "5a6d5YmR6ZSL5LuO56Oo56C65Ye677yM5qKF6Iqx6aaZ6Ieq6Ium5a+S5p2l44CC",
    "6Ieq5Y+k5Lul5p2l5a2m5pyJ5bu65qCR55qE5Lq677yM6YO956a75LiN5byA5LiA5Liq4oCc6Ium4oCd5a2X44CC",
    "5aSp5omN5bCx5piv55m+5YiG5LmL5Lmd5Y2B5Lmd55qE5rGX5rC05Yqg55m+5YiG5LmL5LiA55qE54G15oSf44CC4oCU4oCU54ix6L+q55Sf",
    "6Im65pyv55qE5aSn6YGT5LiK6I2G5qOY5Lib55Sf77yM6L+Z5Lmf5piv5aW95LqL77yM5bi45Lq65pyb6ICM5Y205q2l77yM5Y+q5pyJ5oSP5b+X5Z2a5by655qE5Lq65L6L5aSW44CC4oCU4oCU6Zuo5p6c",
    "5aSp5omN5LiN5piv5Yir55qE77yM6ICM5piv6L6b5Yqz5ZKM5Yuk5aWL44CC4oCU4oCU5q+U5Liw",
    "6LCo5oWO55qE5Yuk5aWL5bim5p2l5aW96L+Q44CC4oCU4oCU6Iux5Zu9",
    "56eR5a2m5piv5Li65LqG6YKj5Lqb5Yuk5aWL5aW95a2m55qE5Lq677yM6K+X5q2M5piv5Li65LqG6YKj5Lqb55+l6K+G5riK5Y2a55qE5Lq644CC4oCU4oCU57qm55Gf5aSrwrfpsoE=",
    "5rKh5pyJ5Lq65Lya5Zug5a2m6Zeu6ICM5oiQ5Li65pm66ICF44CC5a2m6Zeu5oiW6K646IO955Sx5Yuk5aWL5b6X5p2l77yM6ICM5py65pm65LiO5pm65oWn5Y205pyJ5oeS5LqO5aSp6LWL44CC4oCU4oCU57qm57+wwrfloZ7lsJTnmbs=",
    "5rKh5pyJ5Lu75L2V5Yqo54mp5q+U6JqC6JqB5pu05Yuk5aWL77yM54S26ICM5a6D5Y205pyA5rKJ6buY5a+h6KiA44CC4oCU4oCU5a+M5YWw5YWL5p6X",
    "5Yuk5aWL55qE5Lq65piv5pe26Ze055qE5Li75Lq677yM5oeS5oOw55qE5Lq65piv5pe26Ze055qE5aW06Zq244CC4oCU4oCU5pyd6bKc",
    "5Yuk5aWL5ZKM5pm65oWn5piv5Y+M6IOe6IOO77yM5oeS5oOw5ZKM5oSa6KCi5piv5Lqy5YWE5byf44CC4oCU4oCU5rCR6LCa",
    "5aSp5omN57ud5LiN5bqU6YSZ6KeG5Yuk5aWL44CC4oCU4oCU5bCP5pmu5p6X5bC8",
    "5aSp5omN5bCx5piv55m+5YiG5LmL5LiA55qE54G15oSf5Yqg5LiK55m+5YiG5LmL5Lmd5Y2B5Lmd5Yuk5aWL44CC",
    "5Yuk6IO96KGl5ouZ5piv6Imv6K6t44CC",
    "5aaC5p6c5L2g5rC46L+c5L+d5oyB5Yuk5aWL55qE5bel5L2c5oCB5bqm77yM5L2g5bCx5Lya5b6X5Yiw5LuW5Lq655qE56ew6K645ZKM6LWe5oms77yM5bCx5Lya6LWi5b6X6ICB5p2/55qE5Zmo6YeN77yM5ZCM5pe25Lmf5Lya6I635Y+W5LiA5Lu95pyA5Y+v6LS155qE6LWE5LqnLS0t6Ieq5L+h44CC",
    "6K+75Lmm5pyJ5LiJ5Yiw77yM6LCT5b+D5Yiw77yM55y85Yiw77yM5Y+j5Yiw44CC5b+D5LiN5Zyo5q2k77yM5YiZ55y855yL5LiN5LuU57uG77yM5b+D55y85pei5LiN5LiT5LiA77yM5Y205Y+q5ryr5rWq6K+16K+777yM5Yaz5LiN6IO96K6w77yM5LmF5Lmf5LiN6IO95LmF5Lmf44CC5LiJ5Yiw5LmL5Lit77yM5b+D5Yiw5pyA5oCl77yM5b+D5pei5Yiw55+j77yM55y85Y+j5bKC5LiN5Yiw5LmO77yf",
    "5aSp5omN5bCx5piv5Yuk5aWL77yM5pu+57uP5pyJ5Lq66L+Z5qC36K+06L+H44CC5aaC5p6c6L+Z6K+d5LiN5a6M5YWo5q2j56Gu77yM6YKj6Iez5bCR5Zyo5b6I5aSn56iL5bqm5LiK5piv5q2j56Gu55qE44CC",
    "5LmD55+l5LqL6LS15aWL77yM5b2i5Yq/6Z2e5omA5ouY44CC",
    "6IGq5piO5Ye65LqO5Yuk5aWL77yM5aSp5omN5Zyo5LqO56ev57Sv44CC",
    "5LiA5Liq5Lq66LaK55+l6YGT5pe26Ze055qE5Lu35YC877yM6LaK5YCN6KeJ5aSx5pe255qE55eb6Ium44CC",
    "5aSp5omN5piv55m+5YiG5LmL5LiA55qE54G15oSf5Yqg55m+5YiG5LmL5Lmd5Y2B5Lmd55qE5Yuk5aWL44CC",
    "5pe26Ze05piv5LiA56yU6LS35qy+77yM5Y2z5L2/5YaN5a6I5L+h55So55qE5YCf6LS36ICF5Lmf6L+Y5LiN6LW344CC",
    "5aaC5p6c5bel5L2c5a+55LqO5Lq657G75LiN5piv5Lq655Sf5by657Si55qE5Luj5Lu377yM6ICM5piv55uu55qE77yM5Lq657G75bCG5piv5aSa5LmI5bm456aP44CC",
    "5Lq655Sf5piv5LiA5Liq5rC45LiN5YGc5oGv55qE5bel5Y6C77yM6YKj6YeM5rKh5pyJ5oeS5Lq655qE5L2N572u44CC5bel5L2c5ZCn77yB5Yib6YCg5ZCn77yB",
    "6Iul5LiN57uZ6Ieq5bex6K6+6ZmQ77yM5YiZ5Lq655Sf5Lit5bCx5rKh5pyJ6ZmQ5Yi25L2g5Y+R5oyl55qE6Jep56+x44CC",
    "5o6I5Lq65Lul6bG85LuF5L6b5LiA6aWt5LmL6ZyA77yM5pWZ5Lq65Lul5riU5YiZ57uI6Lqr5Y+X55So5peg56m344CC",
    "5oiR5bm06L275pe25rOo5oSP5Yiw77yM5oiR5q+P5YGa5Y2B5Lu25LqL5pyJ5Lmd5Lu25LiN5oiQ5Yqf77yM5LqO5piv5oiR5bCx5Y2B5YCN5Zyw5Y675Yqq5Yqb5bmy5LiL5Y6744CC",
    "5pep5pmo5LiN6LW36K+v5LiA5aSp55qE5LqL77yM5bm85pe25LiN5a2m6K+v5LiA55Sf55qE5LqL44CC",
    "5Y+R5piO5piv55m+5YiG5LmL5LiA55qE6IGq5piO5Yqg55m+5YiG5LmL5Lmd5Y2B5Lmd55qE5Yuk5aWL44CC",
    "5aaC5p6c5L2g5Y+q5Li66Jaq5rC06ICM5bel5L2c77yM5L2g55qE55Sf5rS75bCG5Zug5q2k6ICM6Zm35YWl5bmz5bq45LmL5Lit44CC5L2g5om+5LiN5Yiw5Lq655Sf5Lit55yf5q2j55qE5oiQ5bCx5oSf44CC5bel5L2c55qE55uu55qE6Jm954S25piv5Li65LqG6I635b6X5oql6YWs77yM5L2G5bel5L2c6IO957uZ5L2g5bim5p2l55qE6L+c5q+U5bel6LWE6KaB5aSa55qE5aSa44CC",
    "6Im65pyv55qE5aSn6YGT5LiK6I2G5qOY5Lib55Sf77yM6L+Z5Lmf5piv5aW95LqL77yM5bi45Lq65pyb6ICM5Y205q2l77yM5Y+q5pyJ5oSP5b+X5Z2a5by655qE5Lq65L6L5aSW44CC",
    "6Imv55Sw5bCR6ZSE55CG77yM5YWw54Sm6aaZ5Lqm6JaE44CC",
    "5LyR5oGv5LyR5oGv77yM6ISR5a2Q55Sf6ZSI44CC",
    "5q+P5LiA5Liq5oiQ5Yqf6ICF6YO95pyJ5LiA5Liq5byA5aeL44CC5YuH5LqO5byA5aeL77yM5omN6IO95om+5Yiw5oiQ5Yqf55qE6Lev44CC",
    "54+N5oOc5pe26Ze05Y+v5Lul5L2/55Sf5ZG95Y+Y5b6X5pu05pyJ5Lu35YC844CC",
    "5Lmm5a+M5aaC5YWl5rW377yM55m+6LSn55qG5pyJ44CC5Lq65LmL57K+5Yqb77yM5LiN6IO95YW85pS25bC95Y+W77yM5L2G5b6X5pil5omA5qyy5rGC6ICF5bCU44CC5pWF5oS/5a2m6ICF5q+P5qyh5L2c5LiA5oSP5rGC5LmL44CC",
    "6buR5Y+R5LiN5aaC5Yuk5a2m5pep77yM55m95Y+R5pa55oKU6K+75Lmm6L+f44CC",
    "6K+75Lmm5LiN6LaB5pep77yM5ZCO5p2l5b6S5oKU5oeK44CC4oCU4oCU44CK5riF6K+X6ZOOwrfotoHml6nmrYzjgIs=",
    "5pil5bqt5pep6Imy5ZKM54Of5pqWO+WNiOWknOS5puWjsOW4puaciOWvkuOAguS9nOiAhe+8muOAiuWvueiBlOmbhumUpuOAiw==",
    "5ZSv5LiA6IO95oyB5LmF55qE56ue5LqJ5LyY5Yq/5piv6IOc6L+H56ue5LqJ5a+55omL55qE5a2m5Lmg6IO95Yqb44CC4oCU4oCU55uW5Lqa5pavKOWjs+eJjOefs+ayueetluWIkue7j+eQhik=",
    "5Yuk5Yqz5LiA5pel77yM5Y+v5b6X5LiA5aSc5a6J55ygO+WLpOWKs+S4gOeUn++8jOWPr+W+l+W5uOemj+mVv+ecoOOAgiDigJTigJQg6L6+6Iqs5aWH",
    "5a2m5Lya5a2m5Lmg55qE5Lq677yM5piv6Z2e5bi45bm456aP55qE5Lq6IOKAlOKAlCDnsbPljZflvrc=",
    "5Y+q5Lya5bm75oOz6ICM5LiN6KGM5Yqo55qEYOS6uu+8jOawuOi/nOS5n+S9k+S8muS4jeWIsOaUtuiOt+aenOWunuaXtueahOWWnOaCpuOAgg==",
    "5Yuk5aWL5piv5L2g55Sf5ZG955qE5a+G56CB77yM6IO96K+R5Ye65L2g5LiA6YOo5aOu5Li955qE5Y+y6K+X44CC",
    "5a+55LqO5pSA55m76ICF5p2l6K+077yM5aSx5o6J5b6A5piU55qE6Laz6L+55bm25LiN5Y+v5oOc77yM6L+35aSx5LqG57un57ut5YmN5pe255qE5pa55ZCR5Y205b6I5Y2x6Zmp44CC",
    "5aWL5paX6ICF55qE5bm456aP5piv5LuO55eb6Ium6LW35q2l55qE77yM5Lqr5LmQ6ICF55qE55eb6Ium5piv5LuO4oCc5bm456aP4oCd5byA5aeL55qE44CC",
    "5b+Z5LqO6YeH6ZuG55qE6Jyc6JyC77yM5peg5pqH5Zyo5Lq65YmN6auY6LCI6ZiU6K6644CC",
    "6K+75Lmm56C05LiH5Y2377yM5LiL56yU5aaC5pyJ56We44CC4oCU4oCUIOadnOeUq++8muOAiuadnOW3pemDqOmbhuOAiw==",
    "5oiR5Lus6Ieq5Yqo55qE6K+75Lmm77yM5Y2z5Zec5aW955qE6K+75Lmm77yM6K+35pWZ5Yir5Lq65piv5aSn5oq15peg55So77yM5Y+q5aW95YWI6KGM5rOb6KeI77yM54S25ZCO5Yaz5oup6ICM5YWl5LqO6Ieq5bex5omA54ix55qE6L6D5LiT55qE5LiA6Zeo5oiW5Yeg6ZeoO+S9huS4k+ivu+S5puS5n+acieW8iueXhe+8jOaJgOS7peW0kCDlv4XpobvlkoznjrDlrp7npL7kvJrmjqXop6bvvIzkvb/miYDor7vnmoTkuabmtLvotbfmnaXjgILigJTigJQg6bKB6L+F77ya44CK6K+75Lmm5p2C6LCI44CL",
    "54ix55yL5Lmm55qE6Z2S5bm077yM5aSn5Y+v5Lul55yL55yL5pys5YiG5Lul5aSW55qE5Lmm77yM5Y2z6K++5aSW5Lmm4oCm4oCm6K2s5aaC5a2m55CG56eR55qE77yM5YGP55yL55yL5paH5a2m5Lmm77yM5a2m5paH5a2m55qE77yM5YGP55yL55yL56eR5a2m5Lmm77yM55yL55yL5Yir5Lq65Zyo6YKj6YeM56CU56m255qE77yM56m256ufIOaYr+aAjuS5iOS4gOWbnuS6i+OAgui/meagt+WtkO+8jOWvueS6juWIq+S6uu+8jOWIq+S6i++8jOWPr+S7peabtOa3seeahOS6huino+OAguKAlOKAlCDjgIrpsoHov4Xlhajpm4bjgIs=",
    "5Y+q55yL5LiA5Liq5Lq655qE6JGX5L2c77yM57uT5p6c5piv5LiN5aSn5Y+R55qE77ya5L2g5bCx5b6X5LiN5Yiw5aSa5pa56Z2i55qE5LyY54K544CC5b+F6aG75aaC6Jyc6JyC5LiA5qC377yM6YeH6L+H6K645aSa6Iqx77yM6L+Z5omN6IO96YW/5Ye66Jyc5p2l44CC5YCY6Iul5Y+u5Zyo5LiA5aSE77yM5omA5b6X5bCx6Z2e5bi45pyJ6ZmQ77yM5p6v54el5LqG44CC4oCU4oCUIOmygei/he+8muOAiuiHtOminOm7juawkeOAiw==",
    "5oiR5pyJ5YWr5L2N5aW95pyL5Y+L77yM6IKv5oqK5LiH5LqL5oyH5a+85oiR44CC5L2g6Iul5oOz6Zeu55yf5ZCN5aeT77yM5ZCN5a2X5LiN5ZCM6YO95aeT5L2V77ya5L2V5LqL5L2V5pWF5L2V5Lq65L2V5pe25L2V5Zyw5L2V5Y675L2V5aaC77yM5aW96LGh5byf5byf5LiO5ZOl5ZOl44CC6L+Y5pyJ5LiA5bSQIOS4quilv+a0i+a0vu+8jOWnk+WQjemioOWAkuWPq+WHoOS9leOAguiLpeWQkeWFq+i0pOW4uOivt+aVme+8jOiZveaYr+esqOS6uuS4jeS8mumUmeOAguKAlOKAlCDpmbbooYznn6XvvJrjgIrlhavkvY3pob7pl67jgIs=",
    "56ev57Sv55+l6K+G77yM5Lmf5bqU6K+l5pyJ5Yac5rCR56ev6IKl55qE5Yqy5aS077yM5o2h55qE6IyD5Zu06KaB5a6977yM5LiN6KaB6ZmQ5Yi25aSq5aSa77yM4oCm4oCm54mb57Kq5Lq657Kq576K57Kq6YO95LiA5qaC5o2h5Zue5p2l77yM6K6p5a6D5Lus57uf57uf5Y+Y5oiQ5pyJ55So55qE6IKl5paZ77yM5ruL5YW75L2c54mp55qE55Sf6ZW/44CC4oCU4oCUIOmCk+aLkw==",
    "5Lmm57GN4oCU4oCULeW9k+S7o+ecn+ato+eahOWkp+WtpuOAgiDigJTigJQg5omY6ams5pavwrfljaHojrHlsJQ=",
    "5ZCE56eN6KCi5LqL77yM5Zyo5q+P5aSp6ZiF6K+75Lmm55qE5b2x5ZON5LiL77yM5Lu/5L2b5Zyo54Gr5LiK5LiA5qC377yM5riQ5riQ5rq25YyW44CCIOKAlOKAlCDpm6jmnpw=",
    "5Lmm77yM6L+Z5piv6L+Z5LiA5Luj5a+55Y+m5LiA5Luj5Lq657K+56We5LiK55qE6YGX6KiA77yM6L+Z5piv5bCG5q2755qE6ICB5Lq65a+55Yia5Yia5byA5aeL55Sf5rS755qE6Z2S5bm05Lq655qE5b+g5ZGK77yM6L+Z5piv5YeG5aSH5Y675LyR5oGv55qE5ZOo5YW15ZCR5YmN5p2l5Luj5pu/5LuW55qE5bKX5L2N55qE5ZOo5YW15ZCR5YmN5p2l5Luj5pu/5LuW55qE5bKX5L2N55qE5ZOo5YW155qE5ZG95Luk44CCIOKAlOKAlCDjgIrotavlsJTlspHorrrmloflrabjgIs=",
    "5LiN5Y676K+75Lmm5bCx5rKh5pyJ55yf5q2j55qE5pWZ5YW777yM5ZCM5pe25Lmf5LiN5Y+v6IO95pyJ5LuA5LmI6Ym05Yir5Yqb44CCIOKAlOKAlCDjgIrotavlsJTlspHorrrmloflrabjgIs=",
    "6K+75Lmm5ZKM5a2m5Lmg5piv5Zyo5Yir5Lq65oCd5oOz5ZKM55+l6K+G55qE5biu5Yqp5LiL77yM5bu656uL6LW36Ieq5bex55qE5oCd5oOz5ZKM55+l6K+G44CC4oCU4oCU5pmu5biM6YeR",
    "6ZiF6K+75LiA5pys5LiN6YCC5ZCI6Ieq5bex6ZiF6K+755qE5Lmm77yM5q+U5LiN6ZiF6K+76L+Y6KaB5Z2P44CC5oiR5Lus5b+F6aG75Lya6L+Z5qC35LiA56eN5pys6aKG77yM6YCJ5oup5pyA5pyJ5Lu35YC85pyA6YCC5ZCI6Ieq5bex5omA6ZyA6KaB55qE6K+754mp44CC4oCU4oCU5Yir5p6X5pav5Z+6",
    "5b+Z5LqO6YeH6ZuG55qE6Jyc6JyC77yM5peg5pqH5Zyo5Lq65YmN6auY6LCI6ZiU6K6644CC",
    "5LiN566h5aSa5LmI6Zmp5bO755qE6auY5bGx77yM5oC75piv5Li65LiN55WP6Imw6Zq+55qE5Lq655WZ5LiL5LiA5p2h5pSA55m755qE6Lev44CC",
    "5LuF5qyh5LqO6YCJ5oup55uK5Y+L77yM5bCx5piv6YCJ5oup5aW95Lmm44CC4oCU4oCU6ICD5bCU5b63",
    "54ix55yL5omN5Lya6LWi44CC",
    "5Lmm5piv5Lq657G76L+b5q2l55qE6Zi25qKv44CC",
    "5bGV5byA57+F6IaA57+x57+U5Lmm5rW344CC",
    "5Lmm57GN5piv5Lq657G76L+b5q2l55qE6Zi25qKv44CC",
    "5a2m5Lmg6KaB55So5LiJ5b+D77ya5LiA5L+h5b+D77yM5LqM5Yaz5b+D77yM5LiJ5oGS5b+D44CC",
    "5Z+656GA5piv5Yia5byA5aeL55qE5qCH5b+X44CC",
    "5pm677yM5Yuk77yM57uG44CC",
    "6K+75Lmm5bm/77yM5bm/6K+75Lmm77yM6K+755uK5Lmm77yM5piT6K+75Lmm44CC",
    "5Lmm5piv5LiN5Lya6K+06K+d55qE6ICB5biI77yM5piv5a6D5pWZ5Lya5oiR5oiQ5Yqf5bm26Z2e5LiN5Y+v5Y+K44CC",
    "5Lq655Sf5piv55uY5riF5rC054Wu6Z2S6I+c77yM5L2g6KaB5Yqg6LCD5ZGz5YmC5ZCX77yf",
    "6K+75Lmm5piv5Li65LqG6Ieq5bex55qE5bCG5p2l6ICM5LiN5piv5Li65LqG5Yir5Lq644CC",
    "5Lmm5piv5Lq657G76aOe6KGM55qE57+F6IaA44CC",
    "5aSx6LSl5Y+q5piv5pS+5byD5b6X5aSq5b+r44CC",
    "5Zyo55yL5Lmm55qE5ZCM5pe277yM5Lmf6K+35L+d5oqk5aW95L2g55qE5Lmm44CC",
    "5LiN55yL55m95LiN55yL77yM55yL5LqG5LiN55m955yL44CC",
    "5a6D77yM5bim57uZ5Lq657G754G16a2C55qE57qv5YeA77yM5bm255Sf55Sf5LiW5LiW6ZSy6ICM5LiN6IiN55qE5LiO5Lq657G755u45Ly044CC",
    "5Lmm5piv5Lq657G757K+56We55qE6aOf57Ku44CC",
    "54ix5Lmm5omN5Lya6LWi44CC",
    "55CG5oOz5piv5Li65LqG5pu05aW955qE55Sf5rS777yM5pu05aW955qE55Sf5rS76KaB5paH5a2X5p2l5aWg5Z+644CC",
    "6K+75Lmm5aW977yM5aW96K+75Lmm77yM6K+75aW95Lmm44CC",
    "5aW96K+75Lmm77yM6K+75aW95Lmm77yM6LWw6YGN5aSp5LiL6YO95LiN5oCV44CC",
    "5Lmm6IO95Luk5L2g5om+5Yiw5Lq655Sf55qE6Zi25qKv44CC",
    "5oiR6K+75Lmm77yM5oiR5b+r5LmQ44CC",
    "5Lmm77yM5Lq657G75oCd5oOz55qE5pyA6auY5bGC44CC",
    "5Lmm77yM6I635LmL5Li66IOc77yM5byD5LmL5Li65q6H44CC"],
        myText: [],
        input: ''
      }
    },
    methods:{

    },
    mounted() {
        var xxx = this.myObject;
        var b = new Base64();
        for(var x of xxx){
          this.myText.push(b.decode(x));
        }
    }
  }).mount('#app')
</script>
</html>
